.header {
  display: flex;
  align-items: center;

  .linkDiv {
    display: flex;
    align-items: center;
    justify-items: center;

    .icon{
        margin-right: 1px;
        color: #fff;
        height: auto;
        width: 60px;
    }
    h1 {
      color: #fff;
    }
  }
}
